@import url('https://fonts.googleapis.com/css?family=Open+Sans:600');

:root{
    --primary : #5C6BC0;
    --primary-accent : #4356b4;
    --primary-light : #7988e5;
    --secondary: #ff9913;
    --primary-accent-transparent : rgba(92 107 192 / 50%);
    --darkened-transparent : rgba(0, 0, 0, .02);
    --task-late : #ff3e3e;
    --task-done : #5dff34;
    --task : var(--primary);
    --task-wip: #ffdd00;
}
body.light, body {
    --primary-text-color: #373D3F;
    --secondary-text-color: white;
    --primary-background-color: white;
    --light-darken-dark-lighten: rgba(0,0,0,.15);
    --light-darken-dark-lighten-current: rgba(0,0,0,.25);
    --calendar-cells-border: #ddd;
    --success : green;

}
body.dark {
    --primary-text-color: white;
    --secondary-text-color: #373D3F;
    --primary-background-color: #36393F;
    --light-darken-dark-lighten: rgba(255,255,255,.15);
    --light-darken-dark-lighten-current: rgba(255,255,255,.05);
    --calendar-cells-border: #505050;
    --success : yellowgreen;

}

body {
    background-color: var(--primary-background-color);
}

#themeSwitch {
    background-color: var(--primary-background-color);
}
/*          NAVBAR          */
.bg-primary {
    background-color: var(--primary) !important;
}
.navbar-nav {
    width: 100%;
}
.nav-item.last {
    margin-right: auto;
}
.nav-link {
    cursor: pointer;
}
.theme-icon{
    height: 1.75em;
    margin-right: 0.4rem;
    margin-left: 0.4rem;
}
/*          GENERAL          */
label {
    user-select: none;
}
.success {
    color: var(--success)
}
#loginpassword {
    margin-top: 10px;
}
div#registerConfirm {
    font-size: 18px;
}
.hidden {
    display: none !important;
}
.icon-button{
    background: none;
    border: none;
    transition: 0.2s;
}
.icon-button:hover{
    filter: brightness(0.6);
}
#main-spinner{
    position: fixed;
    z-index: 1031; /* High z-index so it is on top of the page */
    top: 50%;
    right: 50%; /* or: left: 50%; */
    margin-top: -1.5rem; /* half of the elements height */
    margin-right: -1.5rem; /* half of the elements widht */
    height: 3rem;
    width: 3rem;
}
.erreur {
    color : red;
}
#loginResult{
    margin-top: 1rem;
    min-height: 1em;
}
#login_modal{
}
.modal-spinner{
    position: absolute;
    z-index: 1031; /* High z-index so it is on top of the page */
    top: 50%;
    right: 50%; /* or: left: 50%; */
    margin-top: -1.5rem; /* half of the elements height */
    margin-right: -1.5rem; /* half of the elements widht */
    height: 3rem;
    width: 3rem;
}
.error-register{
    min-height: 1em;
}
.button{
    width: fit-content;
    padding: 7px 25px;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 5px;
    color: white;
    transition: 0.2s;
}
.button:hover {
    background-color: var(--primary-accent);

}
.page-title{
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
.action-button{
    background-color: var(--primary);
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    transition: 0.2s;
    display: inline-block;
    margin-left: auto;
}

.action-button:not(:disabled):hover{
    background-color: var(--primary-accent);
}
.action-button:disabled:hover {
    cursor: not-allowed;
}
.action-button:active {
    filter: opacity(0.75);

}
.action-button:disabled {
    filter: opacity(0.5);
}

/*              LOGIN / REGISTER         */
.login-register-wrapper {
    width: 100%;
    margin: auto;
    margin-top: 200px;
    left: 50%;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-radius: 13px 13px 0 0;
}
@media (min-width:600px) {
    .login-register-wrapper {
        width: 75%;
        border-left: 1px solid grey;
        border-right: 1px solid grey;
        border-radius: 13px;
    }
}
@media (min-width:1024px) {
    .login-register-wrapper {
        width: 50%;
        border-left: 1px solid grey;
        border-right: 1px solid grey;
        border-radius: 13px;
    }
}
.login-register-form{

    padding: 0px 20px 50px 20px;

}
.login-register-tab-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 50px;
}
.login-register-tab{
    display: inline-block;
    font-size: 1.25em;
    width: 100%;
    padding: 5px 20px 5px 20px;
    background-color: var(--primary);
    color: white;
    margin: auto;
    user-select: none;
    cursor: pointer;
    box-shadow: inset 0px -13px 29px -24px #000000;

}
.login-register-tab.active{
    background-color: transparent;
    color: var(--primary-text-color);
    cursor: auto;
    box-shadow: none;
}
#login-tab {
    border-radius: 10px 0 10px 0;

}

#register-tab {
    border-radius: 0 10px 0 10px;

}


.auth-form {
    display: none;
}
.auth-form.active {
    display: block;
}

.animated-form-group{
    transition: all .3s;
}
.animated-form-control{
    user-select: none;
    box-shadow: none;
    background-color: rgba(0, 0, 0, .02);
    border-radius: 0;
    border-color: #ccc;
    color: var(--primary-text-color);
    border-style: none none solid none;
    width: 100%;
    transition: all .5s;
}
.animated-form-control.error {
    border-color: red;
}
.animated-form-control:-webkit-autofill,
.animated-form-control:-webkit-autofill:hover,
.animated-form-control:-webkit-autofill:focus{
    border-color: var(--primary);
    border-style: none none solid none;
    -webkit-text-fill-color: var(--primary-text-color);;
    -webkit-box-shadow: 0 0 0px 1000px var(--darkened-transparent) inset;
    transition: background-color 5000s ease-in-out 0s;
}
.animated-form-control.error:-webkit-autofill,
.animated-form-control.error:-webkit-autofill:hover,
.animated-form-control.error:-webkit-autofill:focus{
    border-color: red;

}
.animated-form-control::placeholder {
    color: transparent;
    padding: 5px;
}
.animated-form-control:focus{
    box-shadow: none;
    outline: none;
    border-color: var(--primary)
}
.animated-form-control.error:focus{
    border-color: red;
}
.animated-form-control:focus + .animated-form-label,
.animated-form-control:not(:placeholder-shown) +  .animated-form-label
{
    transform: translateY(-2.5em) scale(.8);
}
.animated-form-group:focus-within {
}
.animated-form-label{
    cursor: text;
    position: absolute;
    font-size: 1em;
    color: #aaa;
    display: block;
    opacity: 1;
    transform: translateY(-1.5em);
    transform-origin: 0 0;
    transition: all .3s;
    user-select: none;
}
.animated-form-label.error {
    color: red;
}
.error {
    color: red;
}
.form-input-wrapper{
    margin-bottom: 1em;
}

/*          ADD TASK         */

.task-form {
    width: 100%;
    margin: auto;
    margin-top: 200px;
    left: 50%;
    color: var(--primary-text-color);
}
@media (min-width:600px) {
    .task-form {
        width: 75%;
    }
}
@media (min-width:1024px) {
    .task-form {
        width: 50%;
    }
}
#add-task-submit {
    margin-top: 15px;
}

/*      TASK DISPLAY        */
#calendar{
    margin-top: 50px;
}
#calendar2{
    margin-top: 50px;
}
.calendar_month_week-wrapper {
    border-bottom: 1px solid var(--calendar-cells-border);
}
#calendar2 > .calendar_month_week-wrapper:first-child {
    border-top: 1px solid var(--calendar-cells-border);
}
.calendar_month_day_wrapper, .calendar_week_day_wrapper, .calendar_day_day_wrapper  {
    padding: 0;
    border-right: 1px solid var(--calendar-cells-border);
    box-sizing: border-box;
    position: relative;
    color: var(--primary-text-color)
}
.calendar_month_week-wrapper > .calendar_month_day_wrapper:first-child, .calendar_week_week-wrapper > .calendar_week_day_wrapper:first-child {
    border-left: 1px solid var(--calendar-cells-border);
}
.day_number_wrapper {
    height: 2em;
    font-size: 1.2em;
    text-align: center;
    background-color: var(--light-darken-dark-lighten);
}
#calendar-month .task-content{
    width: 100%;
    height: calc(2em * 10);
    position: relative;
}
#calendar-week .task-content{
    width: 100%;
    height: calc(60px * 10);
    position: relative;
}
#calendar-day .task-content{
    width: 100%;
    height: calc(60px * 10);
    position: relative;
}
.task-body{
    width: 100%;
    background-color: var(--task);
    color: white;
    display: flex;
    flex-direction: column;
    user-select: none;
}
.task-body>* {
    background-color: var(--task);

}
.task-name {
    margin-left: 5px;
    height: 1em;
    line-height: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.task-progress{
    height: 0.8em;
    margin-top: auto;
}
.progress {
    height: 0.8em;
    margin-top: auto;
}
.progress-bar {
    background-color: var(--secondary);
}
.progress-bar[aria-valuenow="10"],
.progress-bar[aria-valuenow="20"] {
    background-color: red;
}
.progress-bar[aria-valuenow="30"],
.progress-bar[aria-valuenow="40"]{
    background-color: orangered;
}
.progress-bar[aria-valuenow="50"],
.progress-bar[aria-valuenow="60"]{
    background-color: yellow;
    color: #373D3F;
}
.progress-bar[aria-valuenow="70"],
.progress-bar[aria-valuenow="80"]{
    background-color: yellowgreen;
}
.progress-bar[aria-valuenow="90"],
.progress-bar[aria-valuenow="100"]{
    background-color: var(--primary);
    color: white;
}
.task-progress progress {
    width: 100%;
}
progress::-moz-progress-bar ,
.task-progress progress {
    width: 100%;
}
.day_name_header {
    border-right: 1px solid var(--calendar-cells-border);
    text-align: center;
    padding: 10px 0;
    font-size: 1.2em;
    background-color: var(--primary);
    color: white;
}
.calendar_month_header>.day_name_header:first-child, .calendar_week_header>.day_name_header:first-child, .calendar_day_header>.day_name_header:first-child{
    border-left: 1px solid var(--calendar-cells-border);
}
.calendar_month_day_wrapper.inactive {
    filter: opacity(0.25);
}
.calendar_month_day_wrapper.current .day_number_wrapper, .calendar_week_day_wrapper.current .day_number_wrapper, .calendar_day_day_wrapper.current .day_number_wrapper  {
    background-color: var(--primary-background-color-accent);
}
#month-name, #week-name, #day-name {
    color: var(--primary-text-color);
    font-size: 2.5em;
    font-weight: 500;
    text-align: center;
}
.calendar-navigation {
    display: inline-block;
    margin: 10px;
}

#calendar-month-nav-header, #calendar-week-nav-header , #calendar-day-nav-header {
    display: flex;
    flex-direction: row;
}
#calendar-month-navigation , #calendar-week-navigation, #calendar-day-navigation{
     margin-left: auto;
     display: flex;
     flex-direction: row;
     align-items: center;
 }
@media (max-width:800px) {
    #calendar-month-nav-header, #calendar-week-nav-header, #calendar-day-nav-header {
        flex-direction: column;
    }
    #calendar-month-navigation, #calendar-week-navigation, #calendar-day-navigation{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

}

.task-wrapper{
    position: relative;
}
.task-background {
    position: absolute;
    height: 100%; width: 100%;
    top: 0; left: 0;
    opacity: 0.2;
}
.task-background .task-background-row {
    height: calc(100%/10);
}
.task-background .task-background-col {
    display: grid;
    place-content: center;
    height: 100%;
    border-bottom: 1px solid var(--calendar-cells-border);
    padding: 0;
    z-index: -1;

}
.radioCalendar {
    display: none;
}
.radioCalendar:checked+label {
    background-color: var(--primary-accent);
}
.calendar-switch-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
}

.calendar-switch-button {
    margin-left: 0;
    border-radius: 0;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.calendar-switch-wrapper label:first-of-type {
    border-radius: 5px 0 0 5px;
}
.calendar-switch-wrapper label:last-of-type {
    border-radius: 0 5px 5px 0;
}
.update-form-progress-wrap{
    display: flex;
}
#update-form-progress-value {
    width: 60px;
    text-align: center;
}
#update-form-progress-label {
    margin: 0;
}
#update-form-name-wrapper{
    margin-bottom: 10px;
}
.modal .modal-content {
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
}

.edit {
    background: var(--primary);
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    outline: none;
    padding: 0;
    padding-right: 10px;
    position: relative;
    -webkit-transition: background .4s;
    transition: background .4s;
}
.edit:hover {
    background: var(--primary-accent);
}
.edit span {
    display: inline-block;
    float: left;
}
.edit .edit-icon {
    height: 30px;
    position: relative;
    width: 30px;
}
.edit .edit-icon:before {
    border: 3px solid #fff;
    border-radius: 3px;
    content: "";
    display: inline-block;
    height: 50%;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
}
.edit .edit-icon:after {
    background: var(--primary);
    border: 2px #fff solid;
    border-bottom-left-radius: 5px 15px;
    border-bottom-right-radius: 5px 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 0 0 0 2px var(--primary);
    content: "";
    display: inline-block;
    height: 55%;
    position: absolute;
    top: 7%;
    left: 45%;
    width: 6px;
    transform: translate(0, 0) rotate(45deg);
    transform-origin: 50% 75%;
    transition: background .4s, box-shadow .4s;
}
.edit:hover span:after {
    background: var(--primary-accent);
    box-shadow: 0 0 0 2px var(--primary-accent);
    animation: wiggle .25s 3 linear;
}

@keyframes wiggle {
    0% {transform: translate(0,0) rotate(45deg);}
    25% {transform: translate(0,0) rotate(25deg);}
    50% {transform: translate(0,0) rotate(45deg);}
    75% {transform: translate(0,0) rotate(65deg);}
    100% {transform: translate(0,0) rotate(45deg);}
}
.edit{
    display: block;
    margin-left: auto;
}
input:disabled {
    opacity: 0.5;
}
#edit-when-started {
    font-size: 17px;
    color: var(--primary-text-color);
    margin-bottom: 10px;
}
.delete-button {
    background-color: red;
    color: white;
}
.delete-button:hover {
    background-color: darkred !important;
}
#updateSave{
    background-color: var(--primary);
    color: white;
}
#closeModal, #closeConfirmDelete, #closeConfirmDeleteAll {
    background-color: #6C757D;
}
#delete-task {
    border-radius: 5px 0 0 5px;
}
/*      SETTINGS        */
.theme-toggle-wrapper {
    display: flex;
    flex-direction: row;
    width: fit-content;
}
/*      LIST VIEW           */

.data-table-wrapper *,
#listChangeSelect, #listChangeSelect option{
    color: var(--primary-text-color) !important;
}
.data-table-wrapper select, .data-table-wrapper option,
#listChangeSelect, #listChangeSelect option{
    background-color: var(--primary-background-color) !important;
}
.page-link {
    background: var(--primary-background-color);
    color: var(--primary-text-color);
}
.page-link:hover {
    background: var(--primary-light);
}
.paginate_button.active .page-link {
    background: var(--primary-accent);
    color: white !important;
    border-color: white;
}
.previous .page-link, .next .page-link {
    background-color: var(--primary) !important;
    color: white !important;
}
.data-table-wrapper input[type="search"] {
    background: var(--primary-background-color);
}
#select-table-wrapper{
    margin-top: 15px;
    margin-bottom: 15px;
}
.data-table-wrapper thead {
    background-color: var(--primary);
}
.data-table-wrapper th {
    color: white !important;

}
